// Various colors

$gray: #707070;
$dark-gray: #525151;
$light-blue: #66d5e3;
$gray-2: #716f6f;
$green: #30b400;
$yellow: #eaac21;
$light-gray: #a5a3a3;
$white: #ffffff;
$gray-3: #898686;
$blue: #0079e0;
$gray-4: #9d9d9d;
$dark-cyan: #027e8e;
$gray-5: #525151;
$light-gray-2: #babab8;
$gray-6: #767575;
