header {
  background-image: url('/assets/images/strip_top.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 130px;
}

header h1 {
  /* There's a problem with this: if the page is too narrow, this ends up being white on white. */
  padding: 16px 0 0 64px;
  margin: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url('/assets/images/strip_bottom.png');
  height: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
