<custom-spinner class="topVisible" *ngIf="showOverlay" [mode]="loadingMode" [value]="loadingPercentage" [loadingText]="loadingText"></custom-spinner>
<header>
  <h1 class="welcome-patient">Welcome{{ patientName ? ' ' + patientName : '' }},</h1>
  <h2 class="welcome-find">Let’s find some clinical trials</h2>
  <div class="welcome-body" *ngIf="patient">
    We found your <span class="view-record-text" (click)="showRecord()">record</span>. Just fill in some preferences
    and we’ll do the rest
  </div>
</header>
<app-search-fields (searchClicked)="searchClinicalTrials($event)"></app-search-fields>
