/* infobox is the large gray box at the top of the details */
.infobox, .back-to-results {
  background: #525151;
  color: #FFF;
  margin: 0 16px;
  font-family: Roboto;
}

.infobox {
  display: flex;
}

.back-to-results {
  cursor: pointer;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: clip;
  padding: 2px;
}

.back-to-results svg {
  vertical-align: middle;
}

.infobox .details-column {
  width: 80%;
}

.infobox .details-column dt {
  color: #a5a3a3;
  text-transform: uppercase;
}

.infobox .contacts-column {
  width: 20%;
  background-color: bisque;
  color: #898686;
  padding: 16px;
}

.contacts-column h1, .contacts-column h2 {
  font-size: inherit;
  text-transform: uppercase;
}

.contacts-column .sponsor h2 {
  display: inline;
}

/* Add a space after it for padding */
.contacts-column .sponsor h2::after {
  content: " ";
}

.color3 {
  color: #66d5e3;
}
.color7 {
  color: #a5a3a3;
}


/* FIXME: These styles feel overly-specific. */
.mi-margin-10 {
  margin: 10px;
}


.accordion {
  color: #B7B7B7;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordionDetails {
  font-size: 20px;
  color : #898686;
  white-space: pre;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.pointer:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.status-icons {
  display: flex;
}

.status-icons > div {
  flex-grow: 1;
  background-color: white;
  color: black;
  margin: 1em;
  padding: 1em;
}

.status-icons div.icon {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.status-icons .overall-status div.icon {
  width: 90%;
  height: 41px;
  line-height: 41px;
  border-radius: 20.5px;
  background: #30b400;
  color: white;
  border: 1px solid #30b400;
  text-transform: uppercase;
}

.facilityList {
  overflow-y: auto;
  max-height: 100px;
  color: #898686;
  padding: 10px;
}

.facilityList .phone,
.facilityList .email {
  font-size: 80%;
  color: #0079e0;
}

.facility {
  margin-bottom: 15px;
}

.phone, .email {
  font-size: 80%;
  color: #0079e0;
  line-height: 200%;
}

.phoneIcon,
.emailIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.phoneIcon {
  background-image: url(/assets/images/phone.svg);
}
.emailIcon {
  background-image: url(/assets/images/email.svg);
}
