
.recButton {
  width: 90%;
  height: 41px;
  border-radius: 20.5px;
  background: #30b400;
  color: white;
  border: 1px solid #30b400;
  text-transform: uppercase;
}

/* FIXME: These styles feel overly-specific. */
.mi-margin-30{
  margin: 30px;
}

.mi-margin-2020 {
  margin: 2%;
}

.mi-margin-left-p {
  margin-left: 20% !important;
}

.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-10 {
  padding: 10px;
}

.col100 {
  width: 100%;
}
.col33 {
  width: 33%;
}
.col80 {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.innerDiv {
  display: inline-block;
  margin: 0 auto;
  padding: 10%;
}

.containingDIV {
  display: flex;
}

.outerDiv{
  text-align: center;
  width: 321px;
  height: 217px;
  background: rgba(255, 255, 255, 0.94);
}

.accordion {
  color: #B7B7B7;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordionDetails {
  font-size: 20px;
  color : #898686;
  white-space: pre;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.flexborder {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-flow: row wrap;

  background: #525151;
}

.color8 {
  color : #ffffff !important;
}

.cardtext {
  font-family: Roboto light;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  color: #9f9c9c;
  line-height: 25px;
}

h3.cardtext {
  text-transform: uppercase;
}

.detailCardText {
  font-size: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.varfont {
  font-size: 0.9em;
}

.contact-text {
  color: #0079e0;
  font-size: 0.8em;
}

.pointer:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.facilityList {
  overflow-y: auto;
  max-height: 100px;
  color: #898686;
  padding: 10px;
}

.facilityList .phone,
.facilityList .email {
  font-size: 80%;
  color: #0079e0;
}

.facility {
  margin-bottom: 15px;
}

.phoneIcon,
.emailIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.phoneIcon {
  background-image: url(/assets/images/phone.svg);
}
.emailIcon {
  background-image: url(/assets/images/email.svg);
}
